{{!-- Renderizar una lista de users --}}

<h1>Lista de usuarios</h1>

  {{#each users}}
  <ul style="margin-bottom:30px;">
  <li>Nombre: {{nombre}}</li>
  <li>Correo: {{email}}</li>
  </ul>
  {{/each}}



